In [1]:
import pandas as pd
import sys; sys.path.insert(0, '..')
from Utils.sentiment_scoring_strategy import eval_sentiment_score_for_title

In [2]:
import matplotlib.pyplot as plt
plt.rcParams['figure.dpi'] = 200

In [7]:
NASDAQ_code = "ACN"
kw = "Accenture"
date = "2021-02-14"

In [8]:
df =  pd.read_csv("/home/vamber/ML_stock/Data/Feature/" + NASDAQ_code + "/Raw_Features/" + "Google_News/" + kw + "/" + date + ".csv" , engine="python")

In [9]:
df = df.drop(columns=["link", "published"])

In [10]:
df

,title,source,total_news_today
0,VMware and Accenture launch new business group...,IT Brief Australia,1

In [11]:
if df["total_news_today"][0] == 0:
    df["sentiment_score"] = [0]

In [12]:
df

,title,source,total_news_today
0,VMware and Accenture launch new business group...,IT Brief Australia,1

In [13]:
df["sentiment_score"] = df["title"].apply(eval_sentiment_score_for_title)

In [14]:
df

,title,source,total_news_today,sentiment_score
0,VMware and Accenture launch new business group...,IT Brief Australia,1,3.7

In [9]:
for i in range(0,10):
    print(df.iloc[i]["title"]) 
    print(df.iloc[i]["sentiment_score"])

A new report from Accenture shows how state governments are embracing cloud technology - Technical.ly DC
0.0
Accenture Federal Services Launches Futureframe: A Practical Roadmap for Federal Agencies in Human-Centered Design - Business Wire
0.0
Accenture's Life Insurance Platform Recognized in New Report from Gartner® - Business Wire
4.25
New ABA, Accenture Report on State of Digital Lending Provides Roadmap for Digital Transformation at Banks - ABA Banking Journal
0.0
DDN Teams with Accenture to Deliver Corporate Director Training on Systemic Cyber Risk - Business Wire
3.4200000762939453
Accenture and Avanade Named Leaders in Everest Group’s PEAK Matrix for Microsoft Dynamics 365 Services - Yahoo Finance
4.150000095367432
Accenture Acquires Glamit to Help Clients Accelerate Digital Commerce - MarTech Series
4.199999809265137
Hyderabad: Accenture looks to hire across verticals and experience - Telangana Today
0.0
The Zacks Analyst Blog Highlights: Halliburton, Microsoft, Accenture, Baker Hughes, and Schlumberger - Yahoo Finance
0.0
Accenture acquires analytics and AI firm BRIDGEi2i - YourStory.com
2.7100000381469727